<section id="login">
    <div class="bwm-form">
      <div class="row">
        <div class="col-md-5">
          <h1>Login</h1>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <label for="email">email</label>
              <input 
                    [(ngModel)]="credentials.email" 
                    type="email"
                    class="form-control"
                    id="email"
                    formControlName="email">
              <div *ngIf="isInvalidForm('email')"
                class="alert alert-danger">
  
                <div *ngIf="isRequired('email')">
                    email is required.
                </div>
  
                <div *ngIf="loginForm.controls['email'].errors.pattern">
                  Must be valid email format!
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password">password</label>
              <input 
                    [(ngModel)]="credentials.password" 
                    type="password"
                    class="form-control"
                    id="password"
                    formControlName="password">
            </div>
            <button [disabled]="!loginForm.valid" class="btn btn-bwm" > Submit </button>
          </form>
        </div>
      </div>
    </div>
  </section>
  