@import 'variables';

html,body,p {
    color:$main-text-color;
}

.btn-bwm {
  background-color: $main-color;
  border-color: $light-gray-color;
  color: rgb(245, 132, 132);
  padding: 15px 30px;
  font-size: 20px;

  &:hover, &:focus, &:active {
    border-color: $main-color !important;
    background-color: $main-color !important;
  }
}

.bwm-form {
  color: $main-text-color;

  form {
    margin-bottom: 10px;
  }

  .alert {
    p {
      margin: 0;
    }
  }

  h1 {
    font-weight: 700;
    margin-bottom: 30px;
  }
  .image-container {
    position: relative;

    img {
      width: 100%;
      border-radius: 5px;
    }
  }

  label {
    font-size: 12px;
  }

  .form-text {
    font-size: 13px;
  }

  .catchphrase {
    text-align: center;
    font-size: 42px;
    position: absolute;
    color: #0a0a0a;
    padding: 40px;
    background-color: rgb(247, 241, 241);
    margin-top: 50px;
    letter-spacing: 1px;
  }
  .table table-bordered{
    table, th, td {
      border: 1px solid rgb(255, 249, 249);
      font-size: 30px;
      padding: 10px;
    }
    
    from, label, input {
      font-size: 40px;
      padding: 10px;
    }
    input {
      margin-top: 10px;
    }
    
    a {
      color: $main-color;
      font-size: 30px;
    }
    
    a:hover {
      cursor: pointer;
      color: $main-color;
    }
    
    
    
  }
}